# Python
__pycache__/
*.pyc

# Virtual environments
myenv/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Temporary test files
duplicate_test.csv
new_person_test.csv
documents_test.csv

# Audio recordings
audio app/uploads/*